<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include("./partials/head.ejs") %> <%- include("./partials/navbar.ejs")
    %>
    <h1 id="title">Message board</h1>
    <% if(board.length > 0){ %> <% board.forEach(item => { %>
    <div class="message">
      <p class="message__text"><%=item.text %></p>
      <p class="message__text"><%=item.user %></p>
      <p class="message__text"><%=item.added %></p>
    </div>

    <%}) %> <% } else { %>

    <h3>Nothing to display</h3>
    <%}%>
  </body>
</html>
