<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include("./partials/head.ejs") %> <%- include("./partials/navbar.ejs")
    %>
    <h1>Message board</h1>
    <% if(board.length > 0){ %> <% board.forEach(item => { %>
    <h3><%=item.text %></h3>
    <p><%=item.user %></p>
    <p><%=item.added %></p>

    <%}) %> <% } else { %>

    <h3>Nothing to display</h3>
    <%}%>
  </body>
</html>
